/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}


/* Custom design below! */

