
.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230 230 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card img {
        height: 100px;
    }

.card h2 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card p {
    opacity: .5;
}

